<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="favicon.png">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link href="/css/tiny-slider.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<title>ShopCaKoiT1</title>
</head>

<body>
	<header>
		<!--Search Box-->
		<div id="search-box" class="search-box bg-dark position-relative">
			<div class="search-wrap">
				<form id="search-form" class="text-lg-center text-md-left pt-3" action="/Search/Search" method="get">
					<input type="text"
						   name="input"
						   class="search-input"
						   placeholder="Enter keyword, price, or date..."
						   value="@Context.Request.Query["input"]"
						   onkeydown="if (event.key === 'Enter') { this.form.submit(); event.preventDefault(); }" />
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			</div>
		</div>
		<!---->
		<!-- Header/Navigation -->
		<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/Index">ShopCaKoiT1<span>.</span></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
						aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li><a class="nav-link" href="/Index">Home</a></li>
						<li><a class="nav-link" href="/InKoi/Index"> Fish</a></li>
						<li><a class="nav-link" href="/InTrip/Index">Trip</a></li>
						<li><a class="nav-link" href="/Farm/Index">Farm</a></li>
						<li><a class="nav-link" href="/services.html">Services</a></li>
						<li><a class="nav-link" href="/contact.html">Contact us</a></li>
					</ul>
					<ul class="custom-navbar-cta navbar-nav ms-5">
						<li>
							<!-- Modal -->
							<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header border-bottom-0">
											<h5 class="modal-title" id="authModalLabel">Tài Khoản</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<nav>
												<div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
													<button class="nav-link active" id="nav-sign-in-tab" data-bs-toggle="tab"
															data-bs-target="#nav-sign-in" type="button" role="tab"
															aria-controls="nav-sign-in" aria-selected="true">
														Đăng Nhập
													</button>
												</div>
											</nav>
											<div class="tab-content" id="nav-tabContent">
												<!-- Sign In Tab -->
												<div class="tab-pane fade show active" id="nav-sign-in" role="tabpanel" aria-labelledby="nav-sign-in-tab">
													<form action="/Profiles/LogIn" method="post">
														@Html.AntiForgeryToken()
														<div class="form-group py-3">
															<label class="mb-2" for="sign-in-username">Email *</label>
															<input type="text" minlength="2" name="Email" id="sign-in-username"
																   placeholder="Nhập Email" class="form-control w-100 rounded-3 p-3" required>
														</div>
														<div class="form-group pb-3">
															<label class="mb-2" for="sign-in-password">Mật Khẩu *</label>
															<input type="password" minlength="2" name="Password" id="sign-in-password"
																   placeholder="Nhập Mật Khẩu" class="form-control w-100 rounded-3 p-3" required>
														</div>
														
														<div class="d-flex justify-content-between align-items-center">
															<button type="submit" class="btn btn-dark w-100 my-3">Login</button>
														</div>
														<div class="text-center">
															
															<p>Nếu chưa có tài khoản, <a href="/Profiles/Create" class="fw-bold">Đăng Ký</a></p>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						@if (Context.Session.GetString("CustomerName") != null || Context.Session.GetString("CustomerId") != null)
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="me-2" style="color:aliceblue">@Context.Session.GetString("CustomerName")</span>

								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
									<li><a class="dropdown-item" href="/Profiles/DetailsPro">Xem Thông Tin</a></li>
									<li><a class="dropdown-item" href="/Profiles/LogOut">Đăng Xuất</a></li>
								</ul>
							</li>
						}
						else
						{
							<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#authModal"><img src="/images/user.svg"></a>
						}

						<li>
							<a class="nav-link" href="#" id="cartIcon" data-bs-toggle="modal" data-bs-target="#authModal">
								<img src="/images/cart.svg" alt="Cart" />
							</a>
						</li>
						<li><a href="#" class="search-item border-0"><img width="25" height="50" src="/images/search.svg"></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="/images/songngu.png" alt="Image" class="img-fluid">
			</div>

			<div class="row">
				<div class="col-lg-8">
					<div class="subscription-form">
						<h3 class="d-flex align-items-center"><span class="me-1"><img src="/images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

						<form action="#" class="row g-3">
							<div class="col-auto">
								<input type="text" class="form-control" placeholder="Enter your name">
							</div>
							<div class="col-auto">
								<input type="email" class="form-control" placeholder="Enter your email">
							</div>
							<div class="col-auto">
								<button class="btn btn-primary">
									<span class="fa fa-paper-plane"></span>
								</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">ShopCaKoiT1<span>.</span></a></div>
					<p class="mb-4">We are proud to provide purebred Koi fish, selected from leading fish farms. With extensive experience, we are committed to quality and dedicated service, bringing you a classy living space.</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">About us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Support</a></li>
								<li><a href="#">Knowledge base</a></li>
								<li><a href="#">Live chat</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Leadership</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

						
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>

	<script>
		document.getElementById("cartIcon").addEventListener("click", function (event) {
			event.preventDefault();

			// Kiểm tra trạng thái đăng nhập bằng cách lấy session từ Razor
			var isLoggedIn = "@Context.Session.GetString("CustomerId")" !== "";

			if (isLoggedIn) {
				// Nếu đã đăng nhập, điều hướng đến trang giỏ hàng
				window.location.href = '/cart.html';
			} else {
				// Nếu chưa đăng nhập, hiển thị modal đăng nhập
				var loginModal = new bootstrap.Modal(document.getElementById('authModal'));
				loginModal.show();

				// Xóa lớp backdrop khi modal đóng
				loginModal._element.addEventListener('hidden.bs.modal', function () {
					document.querySelectorAll('.modal-backdrop').forEach((backdrop) => {
						backdrop.remove();
					});

					// Đặt trạng thái của nút giỏ hàng sau khi modal được đóng
					document.getElementById("cartIcon").focus();
				});
			}
		});
	</script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/tiny-slider.js"></script>
	<script src="/js/custom.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>