@page
@model ShopCaKoi.WebApplication.Pages.Search.SearchModel
@{
	ViewData["Title"] = "Search Result";
	Layout = "_Layout";
}

<h2>Search Results</h2>

<!-- Kết quả tìm kiếm -->
@if (Model.SearchResults != null && Model.SearchResults.Any())
{
	<table>
		<thead>
			<tr>
				<th>Trip ID</th>
				<th>Farm Name</th>
				<th>Koi Species</th>
				<th>Departure Date</th>
				<th>Arrival Date</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var trip in Model.SearchResults)
			{
				<tr>
					<td>@trip.TripId</td>
					<td>@trip.Farm.Name</td>
					<td>@trip.Farm.Koi.Species</td>
					<td>@trip.DepartureDate?.ToString("dd/MM/yyyy")</td>
					<td>@trip.ArrivalDate?.ToString("dd/MM/yyyy")</td>
					<td>@trip.Price</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Bạn không tìm thấy kết quả mong muốn.</p>
}
