@page
@model ShopCaKoi.WebApplication.Pages.Search.SearchModel
@{
	ViewData["Title"] = "Search";
	Layout = "_Layout";
}
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Search Results</h1>
				</div>
			</div>
			<div class="col-lg-7">
			</div>
		</div>
	</div>
</div>
<h2></h2>

<div class="container container-wide">
<div class="row row-fix justify-content-xl-end row-30 text-center text-xl-left">
	<div class="col-xl-8">
		<div class="parallax-text-wrap" style="margin-right: 413px;">
			<h3>Our Best Tours</h3>
		</div>
		<hr class="divider divider-decorate">
	</div>
	
</div>
<div class="row row-50">
	<!-- Kết quả tìm kiếm -->
	@if (Model.SearchResults != null && Model.SearchResults.Any())
	{
		@foreach (var trip in Model.SearchResults)
		{
			<div class="col-md-6 col-xl-4">
				<article class="event-default-wrap">
					<div class="event-default">
						<figure class="event-default-image">
							<img src="@trip.ImageUrl" alt="@trip.Farm.Name" width="570" height="370">
						</figure>
						<div class="event-default-caption">
							<a class="button button-xs button-secondary button-nina" href="#">Learn more</a>
						</div>
					</div>
					<div class="event-default-inner">
						<h5><a class="event-default-title" href="/Farm/Index">@trip.Farm.Name</a></h5>
						<p><strong>Thời gian:</strong> @trip.DepartureDate?.ToString("dd/MM/yyyy") - @trip.ArrivalDate?.ToString("dd/MM/yyyy")</p>
						<p><strong>Giá:</strong> @trip.Price?.ToString("N0") vnd</p>
					</div>
				</article>
			</div>
		}
	}
	else
	{
		<p>Bạn không tìm thấy kết quả mong muốn.</p>
	}
	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
